body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

// Lato font stack

  @include font-face(latothin, '../fonts/lato-thin-webfont', normal, normal);

  @mixin latothin {
  font-family: 'latothin'; 
  font-weight: normal;
  font-style: normal;
  }

// Tall Abbey font stack

  @include font-face(tall_abbey_serif_regularRg, '../fonts/tall-abbey-serif-rg-webfont', normal, normal);

   @mixin abbey {
  font-family: 'tall_abbey_serif_regularRg'; 
  font-weight: normal;
  font-style: normal;
  }

// Ondise font stack

  @include font-face(ondiseregular, '../fonts/magpie_paper_works_-_ondise-webfont', normal, normal);

   @mixin ondise {
  font-family: 'ondiseregular'; 
  font-weight: normal;
  font-style: normal;
  }

// Bebas font stack

  @include font-face(bebas_neuelight, '../fonts/bebasneue_light-webfont', normal, normal);

   @mixin bebas {
  font-family: 'bebas_neuelight'; 
  font-weight: normal;
  font-style: normal;
  }

@import "headings";

@import "copy";

@import "glyphicons";
