header#masthead {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background: $white;
  @include box-shadow(0px, 0px, 15px, rgba(0,0,0,0.3));
}

.site-branding {
	@include breakpoint($breakpoint-lg) {
		@include span(6 of 12);
	}
	
	h1.site-title {
		@include latothin;
		margin: 10px 0px;

	}
}