section.hero-image{
	position: relative;
    height: 600px;
    width: 100%;
   -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-position: center -160px;
	background-repeat: no-repeat;

	.hero-text-overlay {
		position: absolute;
		left: 50%;
		top:50%;
		transform: translate(-50%, -50%);
		color: $white;
		//@include latothin;
		//@include ondise;
		@include abbey;
		text-align: center;
		text-transform: uppercase;

		h2 {
			font-size: 7em;
			font-weight: lighter;
			margin-bottom: 0px;
		}

		h3 {
			font-size: 3em;
			font-weight: bold;
			@include bebas;
			margin-top: -36px;
		}
	}

}