section.wedding-info-section {
	
	text-align: center;
}

.left-col {
	@include breakpoint($breakpoint-lg) {
		@include span(6 of 12);
		position: relative;
	}
}

.right-col {
	@include breakpoint($breakpoint-lg) {
		@include span(6 of 12 last);
		position: relative;
	}
}

h4.column-title {
	position: absolute;
  	top: 100px;
  	margin: 0;
  	text-align: center;
  	left: 0;
  	right: 0;
  	@include latothin;
  	font-size: 2em;
  	font-weight: bold;
  	color: $white;
  	@include transition(top 0.6s ease-in);
}

.show .column-title {
	top: 10px;
	@include transition(top 0.6s ease-out);
}

.column-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
  	padding: 0px 60px;
  	color: $white;
  	opacity: 0;
  	@include transition(opacity 0.8s ease-in);
    visibility: hidden;
}

.show .column-text {
	visibility: visible;
	opacity: 1;
	@include transition(opacity 0.8s ease-out);
}

.show .overlay {
	position: absolute;
	content: '';
	width: 452px;
	margin: auto;
	height: 100%;
	background: rgba(0,0,0,0.7);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
}

.column a {
	display: block;
}